<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.model.pojo.Apikey" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.api.model.pojo.Apikey" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="password" property="password"/>
	<result column="type" property="type"/>
	<result column="key" property="key"/>
	<result column="create_time" property="createTime"/>
	<result column="update_time" property="updateTime"/>
	<result column="status" property="status"/>
	<result column="deleted" property="deleted"/>
</resultMap>
       
<!-- apikey table all fields -->
<sql id="Base_Column_List" >
	 id,name,password,type,key,create_time,update_time,status,deleted
</sql>
   
   
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
<trim  suffixOverrides="," >
<if test="parameters.id != null and parameters.id != ''" >
	    and id =  #{parameters.id}
	</if>
<if test="parameters.name != null and parameters.name != ''" >
	    and name =  #{parameters.name}
	</if>
<if test="parameters.password != null and parameters.password != ''" >
	    and password =  #{parameters.password}
	</if>
<if test="parameters.type != null and parameters.type != ''" >
	    and type =  #{parameters.type}
	</if>
<if test="parameters.key != null and parameters.key != ''" >
	    and key =  #{parameters.key}
	</if>
<if test="parameters.createTime != null and parameters.createTime != ''" >
	    and create_time =  #{parameters.createTime}
	</if>
<if test="parameters.updateTime != null and parameters.updateTime != ''" >
	    and update_time =  #{parameters.updateTime}
	</if>
<if test="parameters.status != null and parameters.status != ''" >
	    and status =  #{parameters.status}
	</if>
<if test="parameters.deleted != null and parameters.deleted != ''" >
	    and deleted =  #{parameters.deleted}
	</if>
</trim>
</sql>
   

<!-- 插入记录 -->
<insert id="insert" parameterType="com.api.model.pojo.Apikey" >
  insert into apikey(id,name,password,type,key,create_time,update_time,status,deleted)
 values(#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{key,jdbcType=VARCHAR},#{createTime,jdbcType=DATE},#{updateTime,jdbcType=DATE},#{status,jdbcType=INTEGER},#{deleted,jdbcType=INTEGER})
</insert>

<!-- 根据id，修改记录-->  
 <update id="update" parameterType="com.api.model.pojo.Apikey" >
  update apikey set id=#{id,jdbcType=VARCHAR},name=#{name,jdbcType=VARCHAR},password=#{password,jdbcType=VARCHAR},type=#{type,jdbcType=VARCHAR},key=#{key,jdbcType=VARCHAR},create_time=#{createTime,jdbcType=DATE},update_time=#{updateTime,jdbcType=DATE},status=#{status,jdbcType=INTEGER},deleted=#{deleted,jdbcType=INTEGER} where id=#{id}
 </update>
 
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="updateBySelective" parameterType="com.api.model.pojo.Apikey" >
	update apikey set 
	<trim  suffixOverrides="," >
	<if test="name != null  and name != '' ">
		name=#{name},
	</if>
	<if test="password != null  and password != '' ">
		password=#{password},
	</if>
	<if test="type != null  and type != '' ">
		type=#{type},
	</if>
	<if test="key != null  and key != '' ">
		key=#{key},
	</if>
	<if test="createTime != null  ">
		create_time=#{createTime},
	</if>
	<if test="updateTime != null  ">
		update_time=#{updateTime},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="deleted != null  ">
		deleted=#{deleted},
	</if>
	</trim> where id=#{id}
</update>

<!-- 删除记录 -->
<delete id="delete" parameterType="Object">
	delete 	 from apikey where id = #{id}
</delete>
 
<!-- 根据id查询 apikey -->
<select id="selectListById"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from apikey where id = #{id}
</select>

<!-- 根据name查询 apikey -->
<select id="selectById"  resultMap="BaseResultMap" parameterType="Object">
    select <include refid="Base_Column_List" /> 
     from apikey where name = #{name}
</select>

<!-- 根据验证精准查询 apikey -->
<select id="selectListByVerify"  resultMap="BaseResultMap" parameterType="Object">
    select <include refid="Base_Column_List" /> 
     from 
        apikey 
     where 
        name = #{name}
     AND 
        password = #{password}
     AND
        type = #{type}
</select>

<!-- 根据id查询 apikey -->
<select id="selectById"  resultMap="BaseResultMap" parameterType="Object">
    select <include refid="Base_Column_List" /> 
     from apikey where id = #{id}
</select>

<!-- apikey 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from apikey 
	<include refid="Example_Where_Clause"/>
</select>
  	
<!-- 查询apikey列表 -->
<select id="selectByMap" resultMap="BaseResultMap"  parameterType="Pager">
	select 
	<include refid="Base_Column_List"/>
	from apikey 
	<include refid="Example_Where_Clause"/>
</select>

<!-- 权限控制代码块 -->
<sql id="autherizon">
		and 
		(
		e.CREATOR_ID = #{parameters.userId } 
		or e.PROJECT_MANAGER_ID = #{parameters.userId }
		<if test="parameters.companyIds != null">
            or e.COMPANY_ID in
            <foreach collection="parameters.companyIds" item="item" index="index" open="(" separator="," close=")"> 
                #{item} 
            </foreach>
        </if>
        <if test="parameters.orgIds != null">
            or e.creator_dept_id in
            <foreach collection="parameters.orgIds" item="item" index="index" open="(" separator="," close=")"> 
                #{item} 
            </foreach>
        </if>
        or (EXISTS (select 1 from FLOW_ACTOR f where f.BUSINESS_KEY = a.id and a.FLOW_DEFINE_KEY=f.FLOW_DEFINE_KEY
 		and f.ACTOR_ID=#{currentUser.id} and f.BUSINESS_CODE=#{businessCode}))
        )
        and (e.invalid is null or e.invalid != '1')
</sql>
</mapper>   
