<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.dao.ApiDao" >
	<!-- Result Map-->
	<resultMap id="BaseResultMap" type="com.api.common.model.pojo.ApiKey" >
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="password" property="password"/>
		<result column="type" property="type"/>
		<result column="key" property="key"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="status" property="status"/>
		<result column="deleted" property="deleted"/>
	</resultMap>

	<!-- apikey table all fields -->
	<sql id="Base_Column_List" >
		*
	</sql>

	<!-- 查询所有 apikey -->
	<select id="selectList"  resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from apikey
	</select>

	<!-- 根据id查询 apikey -->
	<select id="selectListById"  resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from apikey where id = #{id}
	</select>

	<!-- 根据name查询 apikey -->
	<select id="selectByName"  resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" />
		from apikey where name = #{name}
	</select>

	<!-- 根据验证精准查询 apikey -->
	<select id="selectListByVerify"  resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from apikey
		where name = #{name}
		AND password = #{password}
		AND type = #{type}
	</select>
</mapper>   
